<div class="contenido-conteiner">
    
  
    <section class="contenido-conteiner-section">
      <h2>Experiencia laboral</h2>
      <h3>Municipalidad de Funes (2017 - actualmente) Administrativo</h3>
      <p>
        Realizo diferentes tareas administrativas y manejos de programas de
        Ministerio de Trabajo Nacion.
      </p>
  
      <h3>Socorrista Olacua (España-Madrid)</h3>
      <p>realizaba mantenimiento a la piscina y tareas de socorrismo</p>
    </section>
  
    <section class="contenido-conteiner-section">
      <h2>Educacion</h2>
  
      <h3>E.E.M. N° 398 Malvinas Argentinas</h3>
      <p>Titulo: Bachiller en economía y administración</p>
  
      <h3>Programación web Fullstack en EGG education</h3>
      <p>
        Contenido: -programación orientada a objetos -JAVA, MySQL, HTML,
        CSS,Spring -Thymeleaf, Javascript, React. 
        <br>
        En el proyecto final del
        cursado realizamos una pagina web.
        <br>
        Horas de cursado: 545 hs.
        <br>
        Certificado por la Universidad Nacional de Rosario y el Ministerio de
        Trabajo, Empleo y Seguridad Social de la Nación.
      </p>
    </section>
  
   
  </div>
