
  <section class="row">
      <h1>Estudios</h1>
      <div class="col-lg-11">
        <ul>
          <li>
            <h1>Educacion 1</h1>
            -
            <h3>years</h3>
          </li>
          <p>
            Loren ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
            atque fuga asperiores sit, esse debitis illum. Laboriosan quos,
            perspiciatis deserunt sequi nulla officiis aspernatur cum, consectetur,
            error veniam excepturi laudantium.
          </p>
        </ul>
        <ul>
            <li>
              <h1>Educacion 2</h1>
              -
              <h3>years</h3>
            </li>
            <p>
              Loren ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
              atque fuga asperiores sit, esse debitis illum. Laboriosan quos,
              perspiciatis deserunt sequi nulla officiis aspernatur cum, consectetur,
              error veniam excepturi laudantium.
            </p>
          </ul>
          <ul>
            <li>
              <h1>Educacion 3</h1>
              -
              <h3>years</h3>
            </li>
            <p>
              Loren ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
              atque fuga asperiores sit, esse debitis illum. Laboriosan quos,
              perspiciatis deserunt sequi nulla officiis aspernatur cum, consectetur,
              error veniam excepturi laudantium.
            </p>
          </ul>
      </div>
    </section>



