.nav__responsive-ul {
  display: none; /* le damos display: none para que no se muestre el otro navbar*/
}
.nav {
  display: flex;
  align-items: center;
  background-color: #181824; /* le damos un color de fondo a el nav*/
  height: 5em;
  width: 100%;
  position: sticky;
  top: 0;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 3px;
  width: 100%;
  height: 100%;
}

#nav-brand {
  color: #ffffff;
  margin: 0px;
}
#nav-brand img {
  font-size: 1.3em;
  width: 5em;
  height: 100%;
}

.nav__li {
  display: inline-block; /* le damos display:inline-block para que sean bloques y se pongan una al lado de otro*/
  padding: 15px;
  color: #fff; /* le damos un color a los iconos*/
}
.nav__li:hover > button {
  color: #016116; /*cuando toque el link cambie de color*/
}
.nav__li:hover {
  color: #016116; /* le damos con el hover a los link a que cambien de color
    al pasar el mause */
  transform: translate(0, 6px);
}

.nav__li button {
  color: #fff; /*le damos color a las letras*/
  text-decoration: none; /*le sacamos lo subrallado*/
}

.nav__li button {
  text-align: right;
  margin-right: 5px;
}
.button {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #016116;
  border-radius: 15px;
  border: 2px solid;
  border-color: #32323F;
  position: relative;
  margin: 5px;
}
.button:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px #ffffff;
  transition: all 0.2s ease;
}


