<nav class="nav">
    <div class="navbar-container">
      <picture>
        <a href="http://" id="nav-brand">
            <img src="../assets/APLogo.png" alt="Logo" class="img-fluid"/>
          </a>
      </picture>
        
  
      <ul class="nav__ul">
        <li class="nav__li">
          <i class="fa-solid fa-house"></i> <a routerLink="/inicio">Inicio</a>
        </li>
        <li class="nav__li">
          <i class="fa-solid fa-user-friends"></i>
          <a href="/login">Perfil</a>
        </li>
        <li class="nav__li">
          <i class="fa-solid fa-circle-question"></i
          ><a href="#experiencia">Experiencia</a>
        </li>
        <li class="nav__li">
          <i class="fa-solid fa-circle-question"></i
          ><a href="#educacion">Educacion</a>
        </li>
        <li class="nav__li">
          <i class="fa-solid fa-circle-question"></i><a href="#skills">Skills y Proyectos</a>
        </li>
      </ul>
      <ul>
        <li class="nav__li">
          <i class="fa-solid fa-arrow-right-to-bracket"></i
          ><a href="/login" >Login</a>
        </li>
      </ul>
    </div>
  </nav>
 <app-banner></app-banner>

