* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 15px;
}
body {
  background-color: #00000a;
  
  
}
p {
  color: rgb(0, 0, 0);
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: solid;
}
h2{
  text-decoration: underline;
  color: #00000a;
  
  text-align: center;
  margin-left: 5em;
  margin-right: 5em;
}
h3{
  text-decoration: underline;
  
}

/* colores
.color1 {color: #00000a;}
.color2 {color: #23274a;}
.color3 {color: #535594;}
.color4 {color: #8f8aea;}
.color5 {color: #d6c6ff;}
*/

.nav__responsive-ul {
  display: none; /* le damos display: none para que no se muestre el otro navbar*/
}
.nav {
  display: flex;
  align-items: center;
  background-color: #23274a; /* le damos un color de fondo a el nav*/
  height: 3em;
  width: 100%;
  position: sticky;
  top: 0;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 3px;
  width: 100%;
  height: 100%;
  
}
#nav-brand {
  
  color: #ffffff;
  
  text-decoration: none;
}
#nav-brand img {
  margin: 8px;
  border-radius: 15px;
  width: 40px;
  height: 40px;
}


.nav__li {
  display: inline-block; /* le damos display:inline-block para que sean bloques y se pongan una al lado de otro*/
  padding: 15px;
  color: #fff; /* le damos un color a los iconos*/
  
}
.nav__li:hover > a {
  color: #016116; /*cuando toque el link cambie de color*/
}
.nav__li:hover {
  color: #016116; /* le damos con el hover a los link a que cambien de color
  al pasar el mause */
  transform: translate(0, 6px);
}

.nav__li a {
  color: #fff; /*le damos color a las letras*/
  text-decoration: none; /*le sacamos lo subrallado*/
  
}

.nav__li i {
  text-align: right;
  margin-right: 5px;
  
}

.img-conteiner {
  margin: 0px;
}
.img-conteiner img {
  width: 100%;
  height: 30em;
  padding: 1em;
}

.contenido-conteiner {
  display: flex;

  height: auto;

  flex-flow: column wrap;
  
}
.contenido-conteiner-section {
  background-color: #ffffff;
  margin: 1em 1em;

  border-radius: 20px;
  border: 3px solid #2a6837;
  padding: 1em;
}


.contenido-conteiner-habilidades {
  display: flex;

  height: auto;
  flex-direction: row;
}
.contenido-conteiner-habilidades-section {
  background-color: #ffffff;
  margin: 1em 2em;

  width: 100%;

  border-radius: 20px;
  border: 3px solid #016116;
  padding: 1em;
  
}



/*inicio de estilos del footer*/
.footer {
  background-color: #23274a;
  width: 100%;
  
  margin-top: 1em;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer p {
  color: #ffffff;
  
}




.div-general{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #016116;
  border-radius: 15px;
  margin: 2em;
  height: auto;
}

.div-2  {
  
  
  width: 100%;
   
  
 
}
.form-label {
  color: #016116;
  text-align: center;
  

}
.form-control{
  
  width: 15em;
  margin: 3px;
  border-radius: 5px;
  
}

.footer li {
  display: inline-block; /* le damos display:inline-block para que sean bloques y se pongan una al lado de otro*/
  padding: 15px;
  color: #fff; /* le damos un color a los iconos*/
  
}
.footer li:hover > a {
  color: #016116; /*cuando toque el link cambie de color*/
}
.footer li:hover {
  color: #016116; /* le damos con el hover a los link a que cambien de color
  al pasar el mause */
  transform: translate(0, 6px);
}

.footer li a {
  color: #fff; /*le damos color a las letras*/
  text-decoration: none; /*le sacamos lo subrallado*/
  
}

.footer li i {
  font-size: 3em;
  text-align: right;
  margin-right: 5px;
  
}
/* colores
.color1 {color: #00000a;}
.color2 {color: #23274a;}
.color3 {color: #535594;}
.color4 {color: #8f8aea;}
.color5 {color: #d6c6ff;}
*/