* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
}
body {
  background-color: #ffffff;
}
p {
  color: rgb(0, 0, 0);
}
h1{
color: rgb(0, 0, 0);
text-align: center;
text-decoration: solid;
}

/* colores
.color1 {color: #00000a;}
.color2 {color: #23274a;}
.color3 {color: #535594;}
.color4 {color: #8f8aea;}
.color5 {color: #d6c6ff;}
*/

.nav__responsive-ul {
  display: none; /* le damos display: none para que no se muestre el otro navbar*/
  
}
.nav {
  background-color: #00000a; /* le damos un color de fondo a el nav*/
  height: 3em;
    width: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
    
   
  
}
.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
#nav-brand{
  
  
    color: #ffffff;
    
    text-decoration: none;
 
}
#nav-brand img{
  margin: 3px;
  border-radius: 15px;
  width: 40px;
  height: 45px;
  
}
.nav__ul {
  
 text-align: center;
  
   
}

.nav__li {
  display: inline-block; /* le damos display:inline-block para que sean bloques y se pongan una al lado de otro*/
  padding: 15px;
  color: #fff; /* le damos un color a los iconos*/
  
  
}
.nav__li:hover > a {
  color: #016116; /*cuando toque el link cambie de color*/
}
.nav__li:hover {
  color: #016116; /* le damos con el hover a los link a que cambien de color
  al pasar el mause */
  transform: translate(0, 6px);
}

.nav__li a {
  color: #fff; /*le damos color a las letras*/
  text-decoration: none; /*le sacamos lo subrallado*/
  
}

.nav__li i {
  
  text-align: right;
  margin-right: 5px;
}








/*
.nav-conteiner {
  background-color: #00000a;
  
}
.navbar-brand {
  margin-top: 2em;
  padding: 1em;
  
}
.navbar-brand img{
  width: 3em;
  margin: 1em;
}


nav img{
  width: 2em;
  margin: 1em;
}
nav ul {
  
 
  text-align: right;
  padding: 10px;
  margin-bottom: 1em;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
nav li {
  display: inline-block;
}
nav a {
  color: #ffffff;
  padding: 10px;
  
}
nav a:hover {
  color: #217dbb;
  text-decoration: none;
  background: #eee;
  border-radius: 4px;
} */

.img-conteiner img {
  width: 100%;
  height: 30em;
  padding: 1em;
}

.perfil-conteiner {
  background-color: #ffffff;
  margin: 1em 1em;
  height: auto;
  border-radius: 5px;
  border: 2px solid #016116;
}
.perfil-conteiner-div p{
 text-align: center;
 margin: 1em;
 padding: 1em;
 
}
.experiencia-conteiner {
  background-color: #ffffff;
  margin: 1em 1em;
  height: auto;
  border-radius: 10px;
  padding: 1em;
  border: 2px solid #016116;
}
.educacion-conteiner {
  background-color: #ffffff;
  margin: 1em 1em;
  height: 6em;
  border-radius: 10px;
  border: 2px solid #016116;
}
.skills-conteiner {
  display: inline-block;
  background-color: #ffffff;
  margin: 1em 3em;
  height: 6em;
  border-radius: 10px;
  width: 33em;
  border: 2px solid #016116;
}
.proyectos-conteiner {
  display: inline-block;
  background-color: #ffffff;
  margin: 1em 3em;
  height: 6em;
  border-radius: 10px;
  width: 33em;
  border: 2px solid #016116;
}



.footer {
  background-color: #00000a;

  margin-top: 1em;
  height: 5em;
  
}
.footer p{
  color: #ffffff;
}
