<nav class="nav">
  <div class="navbar-container">
    <a href="http://" id="nav-brand">
      <img src="assets/Logo.png" alt="Logo" />Argentina Programa
    </a>

    <ul class="nav__ul">
      <li class="nav__li">
        <i class="fa-solid fa-house"></i> <a href="">Inicio</a>
      </li>
      <li class="nav__li">
        <i class="fa-solid fa-user-friends"></i>
        <a href="#perfil">Perfil</a>
      </li>
      <li class="nav__li">
        <i class="fa-solid fa-circle-question"></i
        ><a href="#experiencia">Experiencia</a>
      </li>
      <li class="nav__li">
        <i class="fa-solid fa-circle-question"></i
        ><a href="#educacion">Educacion</a>
      </li>
      <li class="nav__li">
        <i class="fa-solid fa-circle-question"></i><a href="#skills">Skills y Proyectos</a>
      </li>
    </ul>
    <ul>
      <li class="nav__li">
        <i class="fa-solid fa-arrow-right-to-bracket"></i
        ><a href="">Login</a>
      </li>
    </ul>
  </div>
</nav>

<!-- fin navbar -->
<!-- inicio banner -->
<div class="img-conteiner">
  <img src="/assets/banner.gif" class="img-fluid" alt="banner" />
  <!-- 
     <canvas id="c"></canvas>
  <script src="script.js"></script>
    
  -->
</div>
<!-- fin banner -->

<div class="contenido-conteiner">
  <address class="contenido-conteiner-section">
    <h1>Agustin Benitez</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
      laboriosam itaque explicabo necessitatibus quod dolore vel.
      Voluptatibus, placeat? Libero repellendus hic repudiandae veniam
      explicabo quae earum dolor voluptates ducimus quam? Lorem ipsum dolor,
      sit amet consectetur adipisicing elit. Laboriosam quo pariatur
      blanditiis praesentium minima, aspernatur error saepe dolor obcaecati
      ea, odio cum nostrum qui atque repudiandae debitis dolorem libero
      esse.
    </p>
  </address>

  <section class="contenido-conteiner-section">
    <h2>Experiencia laboral</h2>
    <h3>Municipalidad de Funes (2017 - actualmente) Administrativo</h3>
    <p>
      Realizo diferentes tareas administrativas y manejos de programas de
      Ministerio de Trabajo Nacion.
    </p>

    <h3>Socorrista Olacua (España-Madrid)</h3>
    <p>realizaba mantenimiento a la piscina y tareas de socorrismo</p>
  </section>

  <section class="contenido-conteiner-section">
    <h2>Educacion</h2>

    <h3>E.E.M. N° 398 Malvinas Argentinas</h3>
    <p>Titulo: Bachiller en economía y administración</p>

    <h3>Programación web Fullstack en EGG education</h3>
    <p>
      Contenido: -programación orientada a objetos -JAVA, MySQL, HTML,
      CSS,Spring -Thymeleaf, Javascript, React. 
      <br>
      En el proyecto final del
      cursado realizamos una pagina web.
      <br>
      Horas de cursado: 545 hs.
      <br>
      Certificado por la Universidad Nacional de Rosario y el Ministerio de
      Trabajo, Empleo y Seguridad Social de la Nación.
    </p>
  </section>

  <div class="contenido-conteiner-habilidades" id="skills">
    <section class="contenido-conteiner-habilidades-section">
      <h2>Skills</h2>
      <div class="container">
        
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                </div>
                
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="progress yellow">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">75%</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="progress pink">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">20%</div>
                </div>
            </div>
        </div>
    </div>
      
    </section>

    <section class="contenido-conteiner-habilidades-section">
      <h2>Proyectos</h2>
      <p>proyectos</p>
    </section>
  </div>
</div>

<!-- fin section-->
<footer class="footer">
  <h2>Contactos:</h2>
  <ul>
    
    <li>
      <a href="https://www.instagram.com/agus_benitez99/" target="blank_" ><i class="fa-brands fa-instagram"></i> </a>
    </li>

    <li><i class="fa-solid fa-envelope"></i></li>
    <li><i class="fa-brands fa-whatsapp"></i></li>
  </ul>

  <div class="conteiner-msj">
    <p>Contactame enviando un mail</p>

    <label for="name" class="form-label">Tu nombre</label>
    <input type="name" class="form-control" id="name" placeholder="Name:" />
    <label for="email" class="form-label">Tu email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Email:"
    />

    <label for="mensaje" class="form-label">Tu mensaje</label>
    <textarea
      class="form-control"
      id="mensaje"
      placeholder="Message:"
    ></textarea>

    <button type="submit" class="button">Enviar</button>
  </div>
  <div class="asd" >
    
      <p>Derechos de autor</p>
    
    
    
      <p>Version</p>
    
  </div>
  
</footer>
