
 
  
  
  /* colores
  .color1 {color: #00000a;}
  .color2 {color: #23274a;}
  .color3 {color: #535594;}
  .color4 {color: #8f8aea;}
  .color5 {color: #d6c6ff;}
  */
  

  
 
  
  
  
  
  .contenido-conteiner-habilidades {
    display: flex;
  
    height: auto;
    flex-direction: row;
  }
  .contenido-conteiner-habilidades-section {
    background-color: #ffffff;
    margin: 1em 2em;
  
    width: 100%;
  
    border-radius: 20px;
    border: 3px solid #016116;
    padding: 1em;
    
  }
  
  
  
  
  