<div class="conteiner">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/Foto cv.jpeg" alt="" class="img-fluid" />
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h1>Agustin Benitez</h1>
      <p>
        Full Stack Developer Jr
      </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h2>Acerca de mi</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          aliquam voluptatibus nisi ea minima nostrum quod esse eum accusantium
          iure et sunt temporibus animi, tempora fugiat maiores aspernatur odio
          cupiditate!
        </p>
      </span>
    </div>
  </div>
</div>
