.conteiner {
  
  background-color: #1a1a29;
 
 
}
.row {
  text-align: center;

  margin-left: 1em;
  margin-right: 1em;
  border-radius: 20px;
  border: 3px solid #016116;
  padding: 1em;
}
img{
  border-radius: 20%;
}
